<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ankimo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body{
  margin: 30px 10% 30px 10%;
}
h2{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
img{
  margin: 30px;
}
    </style>
  </head>
  <body>
    <h1>index</h1>
  </body>
</html>
